* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: purple;
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

ul li {
  font-size: 30px;
  color:antiquewhite
}